button.combobox{background-color:transparent;float:left;vertical-align:bottom;width:70px;text-align:left;cursor:default;color:#FFF;font-size:12px;font-weight:700;border:1px solid #999;margin:2px 0 0;padding:4px 4px 1px 3px;}button.comboboxFocus{background-color:orange;float:left;vertical-align:bottom;width:70px;text-align:left;cursor:default;color:#FFF;font-size:12px;font-weight:700;border:1px solid #999;margin:2px 0 0;padding:4px 4px 1px 3px;}button.combobox span,button.comboboxFocus span{float:left;}button.combobox img,button.comboboxFocus img{float:right;margin:6px 2px 0 0;}
